zoo data
- 데이터 읽기
- 데이터 저장하기
- reindex
- 결측값을 임의의로 추가 ( 결측값 처리 연습)
- info, head, tail,...로 데이터 확인

In [1]:
import pandas as pd
import numpy as np

In [2]:
# zoo.data 읽기
data = pd.read_csv('zoo.data')

In [4]:
# 목록 이름이 없기때문에 header를 None로 해주기
data = pd.read_csv('zoo.data',header= None)

In [6]:
# zoo.names에서 columns 이름 추출
import re

f = open('zoo.names','r')
lines = f.readlines()

columns=[]
for line in lines:
    m = re.search("\s+\d+[.]\s([\w ]+)",line)
    if m:
        columns.append(m.group(1))

In [7]:
# columns에 추출한 columns이름 넣기
data.columns = columns

In [8]:
# 새로운 열 만들기
new =[]
for i in data['animal name']:
    if i in ['aardvark', 'antelope', 'bear', 'boar', 'buffalo', 'calf',
                  'cavy', 'cheetah', 'deer', 'dolphin', 'elephant',
                  'fruitbat', 'giraffe', 'girl', 'goat', 'gorilla', 'hamster',
                  'hare', 'leopard', 'lion', 'lynx', 'mink', 'mole', 'mongoose',
                  'opossum', 'oryx', 'platypus', 'polecat', 'pony',
                  'porpoise','puma', 'pussycat', 'raccoon', 'reindeer',
                  'seal', 'sealion', 'squirrel', 'vampire', 'vole', 'wallaby','wolf']:
        new.append(1)
    elif i in ['chicken', 'crow', 'dove', 'duck', 'flamingo', 'gull', 'hawk',
                  'kiwi', 'lark', 'ostrich', 'parakeet', 'penguin', 'pheasant',
                  'rhea', 'skimmer', 'skua', 'sparrow', 'swan', 'vulture', 'wren']:
        new.append(2)
    elif i in ['pitviper', 'seasnake', 'slowworm', 'tortoise', 'tuatara']:
        new.append(3)
    elif i in ['bass', 'carp', 'catfish', 'chub', 'dogfish', 'haddock',
                  'herring', 'pike', 'piranha', 'seahorse', 'sole', 'stingray', 'tuna']:
        new.append(4)
    elif i in ['frog', 'frog', 'newt', 'toad']:
        new.append(5)
    elif i in ['flea', 'gnat', 'honeybee', 'housefly', 'ladybird', 'moth', 'termite', 'wasp']:
        new.append(6)
    elif i in ['clam', 'crab', 'crayfish', 'lobster', 'octopus',
                  'scorpion', 'seawasp', 'slug', 'starfish', 'worm']:
        new.append(7)

# 새로운 열만들어서 new값 넣기        
data[18]=new
# 새로만든 열의 이름 추가하기
data.columns = columns+['class']

In [9]:
data

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,class
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,2

In [10]:
# fly이라는 열 추가, fill_value로 그 값을 0으로 채우기 안 채우면 NaN
original_columns = columns+['class']
data = data.reindex(columns = original_columns+["fly"],fill_value=0)

In [11]:
data

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,class,fly
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,1,0
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,1,0
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,4,0
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,1,0
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1,1,0
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6,6,0
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,1,0
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,7,0
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,2,0

In [17]:
# csv로 저장하기
# index=False를 해주어야 index를 보여주는 열이 생성되어 저장되지 않는다
data.to_csv('zoo.csv',index=False)